[Unit]
Description=IoTree LED strip control service
After=syslog.target network.target

[Service]
Type=simple
User=pi
WorkingDirectory={{ iotree_checkout }}/led-service
ExecStart={{ iotree_checkout }}/env/bin/python led-service.py
SyslogIdentifier=iotree-led
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
